
                    <div class="tab-pane fade" id="cek-toko" role="tabpanel" aria-labelledby="cek-toko-tab">
                        <div class="card">
                            <div class="card-header">
                                <h3><b>Rekap Periode</b></h3>
                            </div><!--card-header-->
                            <div class="card-body">
                                <table id="tabel-cek-toko" class="table table-stripped table-bordered">
                                    <thead>
                                        <th>Tanggal</th>
                                        <th>Total Penjualan</th>
                                        <th>Pokok</th>
                                        <th>Untung</th>
                                        <th>Tunai</th>
                                        <th>Transfer</th>
                                        <th>Bon</th>
                                    </thead>
                                    <tbody>
                                        @foreach ($cekToko as $ct)
                                            <tr>
                                                <td>{{$ct->tanggal}}</td>
                                                <td> Rp. {{ number_format($ct->total_penjualan, 2, ',', '.') }}</td>
                                                <td> Rp. {{ number_format($ct->pokok, 2, ',', '.') }}</td>      
                                                @php
                                                    $x=$ct->total_penjualan;
                                                    $y=$ct->pokok;
                                                    
                                                    $untung=$x-$y;

                                                    $cash=DB::select(DB::raw(" 
                                                    select sum(total_akhir) as cash from penjualan
                                                    where jenis_pembayaran='cash'
                                                    and id_toko = $idToko
                                                    and id_periode = $periode
                                                    and tanggal = '$ct->tanggal'"));

                                                    $transfer=DB::select(DB::raw(" 
                                                    select sum(total_akhir) as transfer from penjualan
                                                    where jenis_pembayaran='transfer'
                                                    and id_toko = $idToko
                                                    and id_periode = $periode
                                                    and tanggal = '$ct->tanggal'"));

                                                    $bon=DB::select(DB::raw(" 
                                                    select sum(total_akhir) as total_bon from penjualan                                                
                                                    where jenis_pembayaran='bon' 
                                                    and id_toko = $idToko
                                                    and id_periode = $periode
                                                    and tanggal = '$ct->tanggal'"));
                                                @endphp
                                                <td> Rp. {{ number_format($untung, 2, ',', '.') }}</td> 
                                                @foreach ($cash as $cash)
                                                <td> Rp. {{ number_format($cash->cash, 2, ',', '.') }}</td>
                                                @endforeach

                                                @foreach ($transfer as $transfer)
                                                <td> Rp. {{ number_format($transfer->transfer, 2, ',', '.') }}</td>
                                                @endforeach

                                                @foreach ($bon as $bon)
                                                <td> Rp. {{ number_format($bon->total_bon, 2, ',', '.') }}</td>
                                                @endforeach
                                            </tr>
                                        @endforeach
                                    </tbody>
                                </table>
                            </div><!--card-body-->
                        </div><!--card-->
                    </div><!--cek toko-->
                </div><!--tab content-->